.card {
  color: #fff;
  position: relative;
  cursor: pointer;
  &.light{
    .price{
      color: #000;
    }
    &:hover{
      .price{
        background-color: #000;
        color: #fff;
      }
      .info{
        background-color: #fff;
        color: #000;
      }
    }
  }
  .img {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    transition: .6s;
  }
  .info {
    position: absolute;
    width: 100%;
    bottom: 38px;
    background-color: rgb(0,0,0);
    padding: 30px 10px;
    opacity: 0;
    transition: .6s;
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 11px;
      margin: 10px 0;
    }
    h5 {
      margin-top: 10px;
    }
  }
  .price {
    width: 100%;
    text-align: center;
    transition: .5s;
    font-size: 17px;
    padding: 8px;
  }
  &:hover{
   .info{
    opacity: 1;
   } 
   .price{
    transform: translateY(-5px);
    background-color: #fff;
    color: #000;
   }
   .img{
    img{
      transform: scale(1.1);
    }
   }
  }
}


