.theme {
  position: fixed;
  background: #d4d1d1;
  z-index: 9999;
  left: 7px;
  bottom: 30px;
  border-radius: 7px;
  width: fit-content;
  cursor: pointer;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 30px;
    color: #4e4e4e;
  }
}

#dark {
  i {
    &.dark {
      display: none;
    }
  }
}

#light { 
  i {
    &.light {
      display: none;
    }
  }
}


